BOT_TOKEN=
ADMIN_ID=
PROXY_URL=
API_BASE_URL=

IIKO_API_URL=https://api-ru.iiko.services
IIKO_API_LOGIN=
IIKO_ORGANIZATION_ID=
IIKO_TERMINAL_GROUP_ID=

# Mini App (WebApp)
WEBAPP_URL=https://your-domain.com
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8000
